.index-bookmarklet:hover {
  -moz-box-shadow: 1px 1px 10px 2px #656565;
  -webkit-box-shadow: 1px 1px 10px 2px #656565;
  box-shadow: 1px 1px 10px 2px #656565;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  -moz-transition: -moz-box-shadow 0.4s;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
}
